argparse==1.2.1
beautifulsoup4==4.5.1
certifi==2016.9.26
cffi==1.8.3
cryptography==1.5.2
enum34==1.1.6
idna==2.1
ipaddress==1.0.17
pyOpenSSL==16.2.0
pyasn1==0.1.9
pycparser==2.14
requests==2.11.1
six==1.10.0
urllib3==1.18
wsgiref==0.1.2
